mixin icon(url,mod)
	if(mod)
		svg(class="icon-" + url + ' ' + mod)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + url)
	else
		svg(class="icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)

mixin picture(url, alt)
	if(url.match(/.jpg/))
		- var url = url.replace(/.jpg/, "")
		- var type = 'image/jpeg'
		- var extname = '.jpg'
	else if(url.match(/.png/))
		- var url = url.replace(/.png/, "")
		- var type = 'image/png'
		- var extname = '.png'
	picture
		source(
			type="image/webp",
			srcset="images/" + url + ".webp 1x, images/" + url + "@2x.webp 2x, images/" + url + "@2x.webp 1600w"
			)
		source(
			type=type,
			srcset="images/" + url + extname + " 1x, images/" + url + "@2x" + extname + " 2x, images/" + url + "@2x" + extname + " 1600w"
			)
		img(
			src="images/" + url + extname, 
			srcset="images/" + url + extname + " 1x, images/" + url + "@2x" + extname + " 2x, images/" + url + "@2x" + extname + " 1600w",
			alt=alt
			)
